/** Root */

/** Generics */

body {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h2,
h3 {
    font-weight: 300;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

/** Utilities */

.my_container {
    margin: 30px auto;
    max-width: 1000px;
}

/** Figure */

#team img {
    margin-bottom: 30px;
}
